extends ../layout.jade

block content
  h1 Hi #{id}!
  form(action="/users/#{id}/posts", method="POST")
    div.input-field
      input(id="title" type="text" name="post[title]")
      label(for="title") Title
    div.input-field
      textarea.materialize-textarea(id="pbody" name="post[pbody]")
      label(for="pbody") Body
    div.row
      input(class="btn btn-primary" type="submit" value="Submit")
